body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-password {
    margin-top: 10px;
    text-align: right;
}

.forgot-password a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #0056b3;
}

.success-message {
    margin-top: 10px;
    text-align: center;
    color: #00cc00;
    font-weight: bold;
    animation: fadeOut 3s ease;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

button:hover {
    background-color: #0056b3;
}
