body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f1f1f;
    color: #fff;
  }

  .container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
  }

  h1 {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  ul li::before {
    content: "•";
    color: #fff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  li {
    margin-bottom: 10px;
    padding-left: 1em;
  }

  li b {
    font-weight: bold;
  }

  h2 {
    color: #fff;
  }

  a:link,
  a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }